<div class="user-management-container">
  <h2>Gestión de Usuarios</h2>

  <button (click)="abrirModal()">Agregar Usuario</button>

  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Usuario</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.roles}}</td>
        <td>
          <button (click)="editUsuario(usuario)">Editar</button>
          <button (click)="eliminarUsuario(usuario.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal para Agregar/Editar Usuario -->
<div class="modal" *ngIf="modalAbierto">
  <div class="modal-content">
    <h3>{{ usuarioActual.id ? 'Editar Usuario' : 'Agregar Usuario' }}</h3>
    
    <input type="text" id="username" name="username" [(ngModel)]="usuarioActual.username" placeholder="Nombre de Usuario" required />
    <input type="email" id="email" name="email" [(ngModel)]="usuarioActual.email" placeholder="Correo Electrónico" required />
    <input type="password" id="password" name="password" [(ngModel)]="usuarioActual.password" placeholder="Contraseña" />

    <label for="rol">Rol:</label>
    <select [(ngModel)]="usuarioActual.rolId">
      <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.name }}</option>
    </select>

    <div class="modal-actions">
      <button (click)="guardarUsuario()">{{ usuarioActual.id ? 'Actualizar' : 'Guardar' }}</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>